NEXT_PUBLIC_API_URL = http://localhost:4800

# This is a public dummy key for testing purposes (provided by Cloudflare)
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA 
NEXT_PUBLIC_DISABLE_TURNSTILE=true

# Your OneSignal App ID
NEXT_PUBLIC_ONESIGNAL_APP_ID=your_key_here

# Base URL for uploaded images/files (e.g., AWS S3 or Cloudinary base URL)
NEXT_PUBLIC_UPLOAD_URL=your_url_here
