PORT=4800
NODE_ENV=development    # development, test, production
APP_SPORT=HOCKEY

FRONTEND_URL=http://localhost:3800

DATABASE_URL=your_key_here
REDIS_URL=your_key_here

JWT_ACCESS_SECRET=super_tajne_heslo_123super_tajne_heslo_123
JWT_REFRESH_SECRET=super_tajne_heslo_123super_tajne_heslo_123
JWT_ACCESS_EXPIRES_IN=60m
COOKIE_ACCESS_MAX_AGE=3600000
COOKIE_REFRESH_MAX_AGE=604800000
REFRESH_TOKEN_EXPIRES_IN_MS=604800000

DISABLE_TURNSTILE=true
TURNSTILE_SECRET_KEY=your_key_here

DEFAULT_USER_PLAN=free

BREVO_API_KEY=your_key_here
BREVO_SENDER_NAME=Slapshot Club
BREVO_SENDER_EMAIL=your_sender_here

ONESIGNAL_REST_API_KEY=your_key_here

SPORT_API_KEY=your_key_here
SPORT_API_URL=https://v1.hockey.api-sports.io

BETTERSTACK_TOKEN=your_betterstack_token_here

REGISTRATION_OPEN=true # boolean
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...

SLAPSHOTAI_TOKEN=your_slapshotai_token_here

# Internal APIs
SLAPSHOTAI_TOKEN=your_key_here
