PORT=4800
NODE_ENV=test   # development, test, production
APP_SPORT=HOCKEY

FRONTEND_URL=http://localhost:3800

DATABASE_URL=postgres://user:password@localhost:5433/slapshot_club_test
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=super_tajne_heslo_123super_tajne_heslo_123
JWT_REFRESH_SECRET=super_tajne_heslo_123super_tajne_heslo_123
JWT_ACCESS_EXPIRES_IN=60m
COOKIE_ACCESS_MAX_AGE=3600000
COOKIE_REFRESH_MAX_AGE=604800000
REFRESH_TOKEN_EXPIRES_IN_MS=604800000

DISABLE_TURNSTILE=true
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA    # test key (success) by cloudflare

DEFAULT_USER_PLAN=free

BREVO_API_KEY=your_key_here
BREVO_SENDER_NAME=Slapshot Club
BREVO_SENDER_EMAIL=referee@slapshot.club

ONESIGNAL_REST_API_KEY=your_key_here

SPORT_API_KEY=your_key_here
SPORT_API_URL=https://v1.hockey.api-sports.io

BETTERSTACK_TOKEN=your_betterstack_token_here

REGISTRATION_OPEN=true

SLAPSHOTAI_TOKEN=your_key_here
